<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
          crossorigin="anonymous">
    <meta charset="utf8"/>
    <title>My Personal Webpage</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

  <body>
    
    <div class="row"> </div>
    <div class="row"> </div>
      
    <h1>About Me</h1>
    <p>Hi, my name is Douglas Holder </div> and I'm currently studying  software engineering through Hyperion Dev.<br>
        However I am studying this part time.<br> 
        I have 11 years of experience in Residential property sales in Johannesburg and Cape Town, South Africa.<br>
        My passion lies in creating solutions through technology to facilitate the every day tasks that are cumbersome and time consuming and that everyday people can use with ease <br>
        to make their working lives easier.<br>
        I'm motivated by helping others achieve more through simplifying their processes and achieving more in what they are doing by utilising more efficient ways of doing their work<br>
        by eliminating what is not working for them and by feeding what is working for them.<br>
        I also currently do some part time training for Super Yachting South Africa, training students looking to enter into the super yachting industry, with many years on the water myself in the industry <br>
        and my extensive knowledge on the water I train them in Power boating, PWC(Jetskiis) and how to operate on Deck.<br>
        I aspire to be better than the previous day. Count zero - this speaks to what you do today, not what you did yesterday, the count always resets to zero.</p>
      
    <img src= "{% static 'Two light set up 0699-Editlr.jpg' %}" alt="My Profile Picture">
    <h2>Contact Details</h2>
    <ul>
      <li>Name: Douglas Holder</li>
      <li>Contact Number: 071 672 5105</li>
      <li>Email: dougholder01@gmail.com</li>
      <li>LinkedIn: <a target = "_blank" href="https://www.linkedin.com/in/douglasholder1/">Find me on LinkedIn</a></li>
    </ul>
    <h2>Skills and Competencies</h2>
    <ul>
      <li>Sales</li>
      <li>Marine Navigation</li>
      <li>Leadership</li>
      <li>Software engineering</li>
      <li>Python</li>
      <li>HTML</li>
      <li>Django</li>
    </ul>
    <h2>Education</h2>
    <ul>
      <li>Software engineering, HyperionDev, 2023</li>
      <li>Power Boat level 2 instructor, SYSA 2023</li>
      <li>PWC instructor, SYSA 2023</li>
      <li>NQF4 in Real estate, iSelesele, 2018</li>
      <li>Yachtmaster 200 Ton, 2006</li>
    </ul>
    <h2>Work Experience</h2>
    <h3>Sales enablement manager, Greeff Properties , Oct 2022 - Feb 2023</h3>
    <p>Managing of agents, training programm improved and continued with new and current agents, recruiment of new agents, motivating agents and <br>
        helping inexperienced agents get deals across the line, setting and monitoring agent tasks, targets and budgets.</p>
    <h3>Course Instructor, Super Yachting South Africa , Feb 2022 - Present</h3>
    <p>Managing of agents, training programm improved and continued with new and current agents, recruiment of new agents, motivating agents and <br>
        helping inexperienced agents get deals across the line, setting and monitoring agent tasks, targets and budgets.</p>
    <h3>Team leader, Leadhome properties, Aug 2018 - Sept 2022</h3>
    <p>Managing of agents, training programm improved and continued with new and current agents, recruitment of new agents, motivating agents and <br>
        helping inexperienced agents get deals across the line, setting and monitoring agent tasks, targets and budgets. Working closely with UX team <br>
        to produce a more agent friendly and robust agent platform/CRM.</p>
        <h3>Team leader, Guy Gillespie properties, Feb 2011 - July 2018</h3>
        <p>Managing of agents, training programm improved and continued with new and current agents, recruiment of new agents, motivating agents and <br>
            helping inexperienced agents get deals across the line.</p>
    <h2>Projects</h2>
    <p>These are some of the Capstone projects I have completed in my studies at Hyperion Dev. You will find the link to GitHub to view the projects.</p>
    <ul>
      <li><a target = "_blank" href="https://github.com/Douglas-tech/Capstone_projects.git">See my Capstone projects in GitHub</a></li>
    </ul>
    <h2>Blog Posts</h2>
    <ul>
      <li><a target = "_blank" href="http://www.dougholderphotography.com/stock-photography/">Selling tock Photos - Doug Holder Photography</a></li>
      <li><a target = "_blank" href="http://www.dougholderphotography.com/a-classic-race/">A Classic Race - Doug Holder Photography</a></li>
      <li><a target = "_blank" href="http://www.dougholderphotography.com/miniature-models-2/">Miniature Models - Doug Holder Photography</a></li>
    </ul>
  </body>
</html>
